body {
    font-family: 'Arial', sans-serif;
}

body * {
    box-sizing: border-box;
}

/* Typography */
h1 {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: .75rem;
}

/* Notice */
.notice > p {
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.success {
    background-color: #f1e015;
    color: #222;
}

.success:before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    background: url('../app/assets/images/icons/success.png') no-repeat;
    background-size: cover;
    margin-bottom: .75rem;
}

.error {
    background-color: #222;
    color: #f1e015;
}

.error:before {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    background: url('../app/assets/images/icons/error.png') no-repeat;
    background-size: cover;
    margin-bottom: .75rem;
}

/* Header */
.header {
    background-color: #333;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.header > a:hover {
    color: yellow;
}

/* Content */

.content {
    padding: 1rem;
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    /*align-items: center;*/
    justify-content: center;
}

/* Book */
.book {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.book__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.book__buttons > .button {
    margin: 0 .25rem;
}

.book:nth-of-type(2n+1) {
    background-color: #f1f1f1;
}

.book__cover {
    max-width: 180px;
    max-height: 180px;
}

.book ul {
    padding-left: 2rem;
}

.book li > span {
    display: block;
    font-weight: bold;
    margin-top: .375rem;
}

.book li > p {
    padding: .25rem 0;
}

.book__container > .book {
    justify-content: space-between;
}

.book__container > .book > .book__title {
    margin: 0;
    font-size: 1rem;
    color: #222;
    transition: all ease 0.25s;
}

.book__container > .book > .book__title:hover {
    padding-left: 1rem;
}

.plot {
    margin: 1rem 0 2rem;
    line-height: 1.25rem;
}

/* Forms */

form {
    display: flex;
    flex-direction: column;
}

form li {
    list-style: none;
}

form li span {
    display: block;
    font-weight: bold;
}

form input:not(.submit) {
    width: 15rem;
    padding: .375rem;
    margin: 0.25rem 0 0.5rem;
}

.submit {
    align-self: center;
}

form textarea {
    width: 100%;
    padding: .5rem;
    min-height: 8rem;
}

form ul:first-of-type {
    padding-top: 1rem;
}

form ul {
    border-bottom: 1px solid #dddddd;
    width: 100%;
    padding: 3rem 0;
}

form ul:not(.no-grid) {
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
}

/* Valid Form Inputs */
input + span:after,
textarea + span:after {
    font-size: .65rem;
    display: block;
    margin-bottom: 1rem;
    font-weight: normal;
    text-align: right;
}

textarea + span:after {
    margin-top: .5rem;
}

input:invalid + span:after,
textarea:invalid + span:after {
    color: red;
}

input:valid + span:after,
textarea:valid + span:after {
    color: limegreen
}

#registration_form input:valid + span:after,
#registration_form textarea:valid + span:after {
    content: 'Requirements met';
}

/*  Invalid Form Inputs */
#registration_form input:invalid + span:after,
#registration_form textarea:invalid + span:after {
    content: '* 6-10 characters, a-Z, 0-9';
}

#book_form input:invalid + span:after,
#book_form textarea:invalid + span:after {
    content: '* Required Field';
    text-align: left;
}

/* Login */
.login {
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

/* Footer */
footer {
    text-align: center;
    color: white;
    background-color: #333333;
    padding: 2rem 0;
}

/* Buttons */

.button {
    color: white;
    background-color: #333333;
    padding: .5rem 1rem;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: bold;
    max-width: 150px;
    text-align: center;
    margin: 0 auto;
}

.button:hover {
    background-color: #f1e015;
    color: black;
}